{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-2">
            <a href="#" class="btn btn-primary">BACK</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <button id="filter-week" class="btn btn-sm btn-outline-secondary" type="button">
                    Per week
                </button>
                <button id="filter-month" class="btn btn-sm btn-outline-secondary" type="button">
                    Per month
                </button>
                <canvas id="myLineChart"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock content %}